<!-- <label>Nome</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label>Dt Nasc</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label>Sexo</label><br> 

<input type="text" placeholder="Informe o nome" size="20px;">
<input type="text" placeholder="  /  /    " size="8px;">
<input type="text" placeholder="Sexo" size="10px;">
<button

>Adicionar</button> -->

<form (ngSubmit)="onSubmit(desafioForm)" [formGroup]="desafioForm">
<div>
    <label>Nome</label>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" formControlName="nome" name="nome" id="nome"/>
</div>
<div>
    <label>Dt Nasc</label>&nbsp;
    <input type="text" formControlName="dtnasc" name="dtnasc" id="dtnasc"/>
</div>
<div>
        <label>Sexo</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" formControlName="sexo" name="sexo" id="sexo"/>
</div>
<br>
<button
>Adicionar
</button>
</form>

<div class="form-group col-md-3 text-rigth mt-4">
    <a clas="btn btn-principal btn-principal-sm"
    [routerLink]="['/desafio-angular']"
    >Desafio
    </a>
</div>

<app-menu [lista]="lista"></app-menu>