<div class="login-page" [@routerTransition]>
  <div class="row row-form-login">
    <form role="form" class="login-form" [formGroup]="formLogin" (ngSubmit)="onLoggedin()">
      <div class="login-page__credentials">
        <span><strong>{{'User' | translate}}:</strong> admin</span>
        <span><strong>{{'Password' | translate}}:</strong> admin</span>
      </div>

      <h1 class="login-page__title">Login</h1>

      <div class="login-page-content">
        <mat-form-field class="example-full-width login-page-content__input">
          <mat-label>{{'User' | translate}}</mat-label>
          <input formControlName="user" required matInput placeholder="{{'User' | translate}}" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width login-page-content__input">
          <mat-label>{{'Password' | translate}}</mat-label>
          <input type="password" formControlName="password" required matInput placeholder="{{'Password' | translate}}" value="">
        </mat-form-field>

        <div class="login-page-content__btn">
          <button
            mat-raised-button color="primary"
            type="submit"
            class="button"
          >
            {{'Login' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
