<div class="login-page" [@routerTransition]>
    <div class="row row-form-login">
      <form role="form" class="login-form" [formGroup]="formLogin" (ngSubmit)="onLoggedin()">
        <h1 class="titleLogin">Login</h1>
        <p>**{{'User' | translate}}: admin</p>
        <p>**{{'Password' | translate}}: admin</p>

        <div class="inpBtnLogin">
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>{{'User' | translate}}</mat-label>
              <input formControlName="user" required matInput placeholder="{{'User' | translate}}" value="">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>{{'Password' | translate}}</mat-label>
              <input type="password" formControlName="password" required matInput placeholder="{{'Password' | translate}}" value="">
            </mat-form-field>
          </div>

          <div class="row">
            <div class="btnLogin">
              <button
              mat-raised-button color="primary"
              type="submit" class="positionAbs button">
                {{'Login' | translate}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>


    <!-- <fa-icon [icon]="faUser"> </fa-icon> -->

</div>
