<!-- <app-header [perfil]="perfilBtn"></app-header>

<app-table [list]="enderecos" [canDelete]= "delete"></app-table>

 -->

 <mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">

    <button mat-raised-button color="primary">Menu</button>
    <button (click)="openSnackBar('Valor inválido', 'x')" mat-raised-button color="sencudary" >Modal</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-icon-button id="cursor-pointer" (click)="onClickMenu()"><mat-icon>menu</mat-icon></mat-icon-button>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-main-nav></app-main-nav> -->


