<div>
    <table>
        <thead>
            <tr>
                <th>Nome</th><br>
                <th>Dt Nasc</th><br>
                <th>Sexo</th><br>
<!--                 
                    <div class="form-group col-md-3 text-rigth mt-4">
                         <a class="btn btn-principal btn-principal-sm"
                            [routerLink]="['/adicionar']"
                            >Adicionar
                        </a>
                    </div> -->
                    <button
                    (click)="onClickAdicionar()"    
                    >Adicionar
                </button>
            </tr>
        </thead>
    <tbody>
            <input type="text" [(ngModel)]="inputIdBuscar"  placeholder="QUALQUER COISA BACANA AQUI PARA SER BUSCADA" size="60px;"/>
            <tr *ngIf="listdesafios" >
                <td>{{listdesafios.nome}}</td><br>
                <td>{{listdesafios.dtnasc}}</td><br>
                <td>{{listdesafios.sexo}}</td><br>
            </tr>
            <button
            (click)="getListDesafio()"
            >
            Buscar</button><br>
    </tbody>
    </table>
</div>

<!-- <div class="form-group col-md-3 text-rigth mt-4">
    <a clas="btn btn-principal btn-principal-sm"
    [routerLink]="['/adicionar']"
    >Adicionar
    </a>
</div> -->