<div class="btn-translate spacer">
    <button mat-stroked-button color="accent" [matMenuTriggerFor]="menu">Translate</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="useLanguage('en')">English</button>
      <button mat-menu-item (click)="useLanguage('pt')">Portuguese</button>
    </mat-menu>
    <button mat-stroked-button color="primary" [matMenuTriggerFor]="logout">{{ user ? user : 'User' }}</button>
    <mat-menu #logout="matMenu">
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
</div>


