<app-header [perfil]="perfilBtn"></app-header>

<div class="row rowGerador" [formGroup]="formGerador">
  <button
  (click)="onCreateCpf()"
  mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading"
  >Gerar Cpf</button>
  <input  formControlName="cpf" placeholder="Cpf gerado">


  <button
  mat-raised-button color="secundary"
  (click)="onCreateCnpj()"
  >Gerar Cnpj</button>
  <input  formControlName="cnpj"  placeholder="Cnpj gerado">


  <button
  mat-raised-button color="accent"
  (click)="onCreateCns()"
  >Gerar Cns</button>
  <input  formControlName="cns" placeholder="Cns gerado">
</div>
