<app-header [perfil]="perfilBtn"></app-header>

<div class="row rowGerador">
  <button
  (click)="onCreateCpf()"
  mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading"
  >Gerar Cpf</button>
  <input [(ngModel)]="inputCpf" placeholder="Cpf gerado" [disabled]="disabledCpf">


  <button
  (click)="onCreateCnpj()"
  >Gerar Cnpj</button>
  <input [(ngModel)]="inputCnpj" placeholder="Cnpj gerado" [disabled]="disabledCnpj">


  <button
  (click)="onCreateCns()"
  >Gerar Cns</button>
  <input [(ngModel)]="inputCns" placeholder="Cns gerado" [disabled]="disabledCns">
</div>
