
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 3px groove #635f5f;
  border-top-color: #fd8700;
  animation: spinner .8s linear infinite;
}

.rowGerador {
    margin-left: 17%;
}

img {
  margin-left: 35%;
}

.btnHeader {
    right: 0;
    transform: translateX(25%);
    padding-bottom: 1%;
}

.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}



