
<app-header [perfil]="perfilBtn"></app-header>


<form [formGroup]="formFilter">
  <input type="text"
  formControlName="cep"
  name="cepInformado"  mask="99999-999" placeholder="Buscar Endereço">
  <button
  mat-raised-button color="primary"
  [class.spinner]="loading"
  [disabled]="loading"
  (click)="onFilterCep()">Buscar</button>
  <button
  mat-raised-button color="primary"
  (click)="onClear()">Limpar tudo</button>
</form>

<app-table
[list]="enderecos"
[formFilter]="formFilter"
[canDelete]= "delete"
(deleteItem)="deleteItem($event)" ></app-table>
