<div style="overflow: auto; width: 1250px; height: 330px;">
<table class="bordaum"  width="800">
  <thead class="text-center">
    <tr>
    <th>CEP:</th>
    <th>ENDEREÇO</th>
    <th>BAIRRO</th>
    <th>LOCALIDADE/UF</th>
    <th>DATA</th>
    <th>EXCLUIR</th>
  </tr>
  </thead>

  <tbody *ngFor="let end of list; let i = index" class="text-center">
    <tr>
    <td height="20%" >{{end?.number_formatted}}</td>
    <td>{{end?.address}}</td>
    <td>{{end?.abbreviated_district}}</td>
    <td>{{end?.state_name + ' - ' + end?.state}}</td>
    <td>{{end?.data}}</td>
    <td *ngIf="end?.number_formatted">
      <button *ngIf="canDelete" (click)= delete(i)>X</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
