<div style="overflow: auto; width: 1250px; height: 330px;">
<table class="bordaum"  width="800">
  <thead class="text-center">
    <tr>
    <th>CEP:</th>
    <th>ENDEREÇO</th>
    <th>BAIRRO</th>
    <th>LOCALIDADE/UF</th>
    <th>DATA</th>
    <th>EXCLUIR</th>
  </tr>
  </thead>

  <tbody *ngFor="let end of list; let i = index" class="text-center">
    <tr>
    <td height="20%" >{{end?.cep}}</td>
    <td>{{end?.logradouro}}</td>
    <td>{{end?.bairro}}</td>
    <td>{{end?.localidade + ' - ' + end?.uf}}</td>
    <td>{{end?.data}}</td>
    <td *ngIf="end?.cep">
      <button *ngIf="isDelete" (click)= delete(i)>X</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
